<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<!-- http://jsfiddle.net/gdHDY/17/ -->

<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Hajku</title>


  <link rel="stylesheet" href="static/css/foundation.css">


  <script src="static/js/vendor/custom.modernizr.js"></script>


</head>

<body>
        <nav class="topbar">
        	<div class="row" align="center">
        		<div class="large-12 columns">
		        	<h3 class="subheader"><a href="http://followupdoc.herokuapp.com">Follow-up Doc</a></h3> 
		        	<hr/>
		        </div>
        	</div>
        </nav>

        <div id="mainContainer">
            <div id="main">
            </div>
            {% block main %}
            {% endblock %}
        </div>

<script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'static/js/vendor/zepto' : 'static/js/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="static/js/foundation.min.js"></script>

  <script>
    $(document).foundation();
  </script>

{% block additional_scripts %}
{% endblock %}

</body>
</html>
